body {
  margin: 0;
  background-color: white;
}

.fixed {
  position: fixed;
}

#navbar {
  background-color: transparent;
}

.top-navbar {
  height: 60px;
  width: 100%;
}
.top-navbar a {
  text-decoration: none;
  font-family: roboto;
}
.top-navbar .nav-buttons {
  display: block;
  float: left;
  margin: 7px 5px 0px 5px;
  padding: 2px 16px;
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
}
.top-navbar .social {
  display: block;
  float: right;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px;
}
.top-navbar .drop-button {
  display: none;
  float: left;
  margin: 10px 10px 5px 10px;
  padding: 0px 6px;
  font-size: 40px;
  color: white;
}
.top-navbar .drop-button:hover {
  background-color: white;
}

#profile {
  height: 100vh;
  min-height: 800px;
  width: 100%;
  background-image: url(https://image.ibb.co/btNqrv/portfoliobg_BW.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: black;
}
#profile .name {
  font-family: 'roboto';
  font-size: 60px;
  color: white;
}
#profile .section-box {
  max-width: 980px;
  margin: auto;
}
#profile img {
  width: 100%;
  border-style: solid;
  border-color: white;
  border-width: 10px;
  border-radius: 50%;
}
#profile p {
  font-family: 'roboto';
  font-size: 20px;
  color: white;
}

.profile-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0px;
  grid-auto-rows: minmax(90px, auto);
}
.profile-grid > div {
  border: none;
}
.profile-grid .g1 {
  grid-column: 1 / 3;
  grid-row: 2;
}
.profile-grid .g2 {
  grid-column: 1 / 3;
  grid-row: 3;
}
.profile-grid .g3 {
  grid-column: 3;
  grid-row: 2 / 5;
}
.profile-grid .g4 {
  grid-column: 1 / 4;
  grid-row: 4;
}

#portfolio {
  height: 100vh;
  min-height: 1600px;
  width: 100%;
  background-color: white;
}
#portfolio .section-box {
  max-width: 980px;
  margin: auto;
}
#portfolio img {
  width: 100%;
}
#portfolio .section-title {
  font-family: 'roboto';
  font-size: 72px;
  color: black;
}
#portfolio p {
  font-family: 'roboto';
  font-size: 20px;
  color: black;
  margin-top: 0px;
  margin-bottom: 5px;
}

.portf-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 10px;
  grid-row-gap: 50px;
}
.portf-grid > div {
  height: 200px;
  overflow: hidden;
}
.portf-grid .port-img-1 {
  grid-column: 1;
  grid-row: 1;
  border: solid black 1px;
}
.portf-grid .port-img-1-details {
  grid-column: 2 / 4;
  grid-row: 1;
}
.portf-grid .port-img-2 {
  grid-column: 1;
  grid-row: 2;
  border: solid black 1px;
}
.portf-grid .port-img-2-details {
  grid-column: 2 / 4;
  grid-row: 2;
}
.portf-grid .port-img-3 {
  grid-column: 1;
  grid-row: 3;
  border: solid black 1px;
}
.portf-grid .port-img-3-details {
  grid-column: 2 / 4;
  grid-row: 3;
}
.portf-grid .port-img-4 {
  grid-column: 1;
  grid-row: 4;
  border: solid black 1px;
}
.portf-grid .port-img-4-details {
  grid-column: 2 / 4;
  grid-row: 4;
}
.portf-grid .port-img-5 {
  grid-column: 1;
  grid-row: 5;
  border: solid black 1px;
}
.portf-grid .port-img-5-details {
  grid-column: 2 / 4;
  grid-row: 5;
}

#contact {
  height: 100vh;
  min-height: 600px;
  background-color: black;
}
#contact .section-box {
  max-width: 980px;
  margin: auto;
}
#contact p {
  font-family: 'roboto';
  font-size: 20px;
  color: white;
}
#contact .section-title {
  font-family: 'roboto';
  font-size: 72px;
  color: white;
}

.message-field {
  width: 100%;
  height: 100px;
  overflow: scroll;
}

.up {
  opacity: 100;
}

.down {
  display: block;
}

.link-btn {
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 22px;
  padding: 10px;
  background-color: none;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 30px;
  font-family: 'roboto';
  font-size: 22px;
  color: black;
}
.link-btn i {
  font-size: 22px;
}

.contact-buttons {
  position: relative;
  bottom: 0;
  display: block;
  float: left;
  text-decoration: none;
  color: white;
  font-family: 'roboto';
  font-size: 36px;
  color: white;
}
.contact-buttons:not(:last-child) {
  margin-right: 56px;
}
.contact-buttons:hover {
  border-bottom: solid white;
}
.contact-buttons:hover i {
  color: blue;
}
.contact-buttons i {
  font-size: 40px;
  margin-right: 8px;
}

.fcc-icon {
  font-size: 30px !important;
}

.go-btn {
  width: 200px;
  margin: auto;
  cursor: pointer;
  position: relative;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
}
.go-btn h2 {
  font-family: 'syncopate';
}

.go-btn-on-black {
  color: white;
}
.go-btn-on-black:hover {
  color: black;
  border-color: white;
  background-color: white;
}
.go-btn-on-black:hover h2 {
  color: black;
}

.go-btn-on-white {
  color: black;
}
.go-btn-on-white:hover {
  color: white;
  border-color: black;
  background-color: black;
}
.go-btn-on-white:hover h2 {
  color: white;
}

.go-up {
  top: 0;
}
.go-up h2 {
  margin: 0px 0px 10px 0px;
}

.go-down {
  bottom: 0;
}
.go-down h2 {
  margin: 10px 0px 0px 0px;
}

.nav-over-profile {
  color: white;
}
.nav-over-profile.social:hover {
  color: blue;
}
.nav-over-profile.nav-buttons:hover {
  color: black;
  background-color: white;
  border-color: white;
}

.nav-over-portfolio {
  color: black;
}
.nav-over-portfolio.social:hover {
  color: blue;
}
.nav-over-portfolio.nav-buttons:hover {
  color: white;
  background-color: black;
  border-color: black;
}

@media screen and (max-width: 1095px) {
  .top-navbar {
    height: 40px;
    background-color: black !important;
    z-index: 1;
  }
  .top-navbar * {
    color: white !important;
  }
  .top-navbar .nav-buttons {
    display: none;
  }
  .top-navbar .social {
    margin: 0;
    padding: 0px 5px;
  }
  .top-navbar .drop-button {
    display: block;
    margin: 0;
  }
  .top-navbar.drop-menu {
    height: 200px;
  }
  .top-navbar.drop-menu .nav-buttons {
    display: block;
    float: none;
    position: relative;
    top: 48px;
  }
  .top-navbar.drop-menu .drop-button {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
  }

  .name {
    font-family: 'roboto';
    font-size: 30px;
    color: inherit;
  }

  #profile {
    min-height: 0;
  }
  #profile img {
    border: solid white 3px;
    height: 100px;
    width: 100px;
  }

  .profile-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
    grid-auto-rows: minmax(50px, auto);
  }
  .profile-grid > div {
    border: none;
  }
  .profile-grid .g1 {
    grid-column: 1 / 3;
    grid-row: 2;
  }
  .profile-grid .g1 p {
    margin: 0;
  }
  .profile-grid .g2 {
    grid-column: 1 / 4;
    grid-row: 3;
  }
  .profile-grid .g2 p {
    margin: 0px, 5px, 5px, 5px;
    font-size: 16px !important;
  }
  .profile-grid .g3 {
    grid-column: 3;
    grid-row: 2;
    height: 100px;
  }
  .profile-grid .g4 {
    grid-column: 1 / 4;
    grid-row: 4;
  }

  #portfolio {
    min-height: 3000px;
  }

  .portf-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
  }
  .portf-grid > div {
    height: auto;
    overflow: hidden;
  }
  .portf-grid .port-img-1 {
    grid-column: 1;
    grid-row: 1;
    border: solid black 1px;
  }
  .portf-grid .port-img-1-details {
    grid-column: 1;
    grid-row: 2;
    padding-bottom: 12px;
  }
  .portf-grid .port-img-2 {
    grid-column: 1;
    grid-row: 3;
    border: solid black 1px;
  }
  .portf-grid .port-img-2-details {
    grid-column: 1;
    grid-row: 4;
    padding-bottom: 12px;
  }
  .portf-grid .port-img-3 {
    grid-column: 1;
    grid-row: 5;
    border: solid black 1px;
  }
  .portf-grid .port-img-3-details {
    grid-column: 1;
    grid-row: 6;
    padding-bottom: 12px;
  }
  .portf-grid .port-img-4 {
    grid-column: 1;
    grid-row: 7;
    border: solid black 1px;
  }
  .portf-grid .port-img-4-details {
    grid-column: 1;
    grid-row: 8;
    padding-bottom: 12px;
  }
  .portf-grid .port-img-5 {
    grid-column: 1;
    grid-row: 9;
    border: solid black 1px;
  }
  .portf-grid .port-img-5-details {
    grid-column: 1;
    grid-row: 10;
    padding-bottom: 12px;
  }

  .link-btn {
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    background-color: none;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 30px;
    font-family: 'roboto';
    font-size: 16px;
    color: black;
  }
  .link-btn i {
    font-size: 16px;
  }
}
