body {
  margin: 0;
  background-color: white;
}

.fixed {
  position: fixed;
}

#navbar {
  background-color: transparent;
}

.top-navbar {
  height: 60px;
  width: 100%;
}

.top-navbar p {
  display: block;
  float: left;
  font-family: 'Alegreya Sans SC';
  font-size: 40px;
  color: white;
  margin: 0;
}

.top-navbar a {
  text-decoration: none;
  font-family: 'roboto';
  font-size: 20px;
  color: white;
}

.top-navbar a:hover {
  text-shadow: 0px 0px 10px white;
}

.top-navbar .nav-buttons {
  display: block;
  float: left;
  margin: 7px 5px 0px 5px;
  padding: 5px 20px;
}

.top-navbar .social {
  display: block;
  float: right;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px;
}

.top-navbar .drop-button {
  display: none;
  float: left;
  margin: 10px 10px 5px 10px;
  padding: 0px 6px;
  font-size: 40px;
  color: white;
}

.top-navbar .drop-button:hover {
  text-shadow: 0px 0px 10px white;
}

#profile {
  height: 100vh;
  min-height: 800px;
  width: 100%;
  background-image: url(https://image.ibb.co/btNqrv/portfoliobg_BW.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: black;
}

#profile .section-box {
  max-width: 980px;
  margin: auto;
}

#profile img {
  width: 100%;
  border-style: solid;
  border-color: white;
  border-width: 10px;
  border-radius: 50%;
}

#profile p {
  font-family: 'roboto';
  font-size: 20px;
  color: white;
}

#profile .go-down {
  cursor: pointer;
  position: relative;
  bottom: 0;
  text-align: center;
  color: white;
}

#profile .go-down p {
  font-family: syncopate;
  margin: 0;
}

#profile .go-down:hover {
  text-shadow: 0px 0px 10px white;
}

.profile-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0px;
  grid-auto-rows: minmax(90px, auto);
}

.profile-grid > div {
  border: none;
}

.profile-grid .g1 {
  grid-column: 1 / 3;
  grid-row: 2;
}

.profile-grid .g2 {
  grid-column: 1 / 3;
  grid-row: 3;
}

.profile-grid .g3 {
  grid-column: 3;
  grid-row: 2 / 5;
}

.profile-grid .g4 {
  grid-column: 1 / 4;
  grid-row: 4;
}

#portfolio {
  height: 100vh;
  min-height: 1500px;
  width: 100%;
  background-color: white;
}

#portfolio .section-box {
  max-width: 980px;
  margin: auto;
}

#portfolio img {
  width: 100%;
}

#portfolio .section-title {
  font-family: 'roboto';
  font-size: 72px;
  color: black;
}

#portfolio p {
  font-family: 'roboto';
  font-size: 20px;
  color: black;
}

#portfolio .go-down {
  cursor: pointer;
  position: relative;
  bottom: 0;
  text-align: center;
  color: black;
}

#portfolio .go-down p {
  font-family: syncopate;
  margin: 0;
}

#portfolio .go-down:hover {
  text-shadow: 0px 0px 10px black;
}

#portfolio .go-up {
  cursor: pointer;
  position: relative;
  top: 0;
  text-align: center;
  color: black;
}

#portfolio .go-up p {
  font-family: syncopate;
  margin: 0;
}

#portfolio .go-up:hover {
  text-shadow: 0px 0px 10px black;
}

.portf-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 10px;
}

.portf-grid > div {
  height: 200px;
  overflow: hidden;
}

.portf-grid .port-img-1 {
  grid-column: 1;
  grid-row: 1;
  border: solid black 1px;
}

.portf-grid .port-img-1-details {
  grid-column: 2 / 4;
  grid-row: 1;
}

.portf-grid .port-img-2 {
  grid-column: 1;
  grid-row: 2;
  border: solid black 1px;
}

.portf-grid .port-img-2-details {
  grid-column: 2 / 4;
  grid-row: 2;
}

.portf-grid .port-img-3 {
  grid-column: 1;
  grid-row: 3;
  border: solid black 1px;
}

.portf-grid .port-img-3-details {
  grid-column: 2 / 4;
  grid-row: 3;
}

.portf-grid .port-img-4 {
  grid-column: 1;
  grid-row: 4;
  border: solid black 1px;
}

.portf-grid .port-img-4-details {
  grid-column: 2 / 4;
  grid-row: 4;
}

.portf-grid .port-img-5 {
  grid-column: 1;
  grid-row: 5;
  border: solid black 1px;
}

.portf-grid .port-img-5-details {
  grid-column: 2 / 4;
  grid-row: 5;
}

#contact {
  height: 100vh;
  min-height: 600px;
  background-color: black;
}

#contact .section-box {
  max-width: 980px;
  margin: auto;
}

#contact p {
  font-family: 'roboto';
  font-size: 20px;
  color: white;
}

#contact .section-title {
  font-family: 'roboto';
  font-size: 72px;
  color: white;
}

#contact .go-up {
  cursor: pointer;
  position: relative;
  top: 0;
  text-align: center;
  color: white;
}

#contact .go-up p {
  font-family: syncopate;
  margin: 0;
}

#contact .go-up:hover {
  text-shadow: 0px 0px 10px white;
}

#contact-form {
  max-width: 600px;
}

#contact-form * {
  margin-top: 5px;
}

.message-field {
  width: 100%;
  height: 100px;
  overflow: scroll;
}

.name {
  font-family: 'roboto';
  font-size: 60px;
  color: white;
}

.up {
  opacity: 100;
}

.down {
  display: block;
}

.link-btn {
  cursor: pointer;
  text-decoration: none;
  font-size: 22px;
  padding: 10px;
  background-color: none;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 30px;
  font-family: 'roboto';
  font-size: 22px;
  color: black;
}

.link-btn i {
  font-size: 22px;
}

@media screen and (max-width: 1095px) {
  .top-navbar {
    height: 40px;
    background-color: black !important;
    z-index: 1;
  }
  .top-navbar * {
    color: white !important;
  }
  .top-navbar .nav-buttons {
    display: none;
  }
  .top-navbar .social {
    margin: 0;
    padding: 0px 5px;
  }
  .top-navbar .drop-button {
    display: block;
    margin: 0;
  }
  .top-navbar.drop-menu {
    height: 200px;
  }
  .top-navbar.drop-menu .nav-buttons {
    display: block;
    float: none;
    position: relative;
    top: 48px;
  }
  .top-navbar.drop-menu .drop-button {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .name {
    font-family: 'roboto';
    font-size: 30px;
    color: white;
  }
  #profile {
    min-height: 0;
  }
  #profile img {
    border: solid white 3px;
    height: 100px;
    width: 100px;
  }
  .profile-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
    grid-auto-rows: minmax(50px, auto);
  }
  .profile-grid > div {
    border: none;
  }
  .profile-grid .g1 {
    grid-column: 1 / 3;
    grid-row: 2;
  }
  .profile-grid .g1 p {
    margin: 0;
  }
  .profile-grid .g2 {
    grid-column: 1 / 4;
    grid-row: 3;
  }
  .profile-grid .g2 p {
    margin: 0px, 5px, 5px, 5px;
    font-size: 16px !important;
  }
  .profile-grid .g3 {
    grid-column: 3;
    grid-row: 2;
    height: 100px;
  }
  .profile-grid .g4 {
    grid-column: 1 / 4;
    grid-row: 4;
  }
  #portfolio {
    min-height: 3000px;
  }
  .portf-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
  }
  .portf-grid > div {
    height: auto;
    overflow: hidden;
  }
  .portf-grid .port-img-1 {
    grid-column: 1;
    grid-row: 1;
    border: solid black 1px;
  }
  .portf-grid .port-img-1-details {
    grid-column: 1;
    grid-row: 2;
  }
  .portf-grid .port-img-2 {
    grid-column: 1;
    grid-row: 3;
    border: solid black 1px;
  }
  .portf-grid .port-img-2-details {
    grid-column: 1;
    grid-row: 4;
  }
  .portf-grid .port-img-3 {
    grid-column: 1;
    grid-row: 5;
    border: solid black 1px;
  }
  .portf-grid .port-img-3-details {
    grid-column: 1;
    grid-row: 6;
  }
  .portf-grid .port-img-4 {
    grid-column: 1;
    grid-row: 7;
    border: solid black 1px;
  }
  .portf-grid .port-img-4-details {
    grid-column: 1;
    grid-row: 8;
  }
  .portf-grid .port-img-5 {
    grid-column: 1;
    grid-row: 9;
    border: solid black 1px;
  }
  .portf-grid .port-img-5-details {
    grid-column: 1;
    grid-row: 10;
  }
}
